@font-face {
    font-family: "Moncerat",sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap")
  
  } 
  *{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    }
  body {
    display: flex;
    justify-content: center;
  }
  .h3class {
    font-size: 32px;
    font-weight: 900;
    line-height: 40px;
    color: #E6E6E6;
    display: none;/*Add in js to change the parameter*/
  }
  .start{
    width:fit-content;
    height:fit-content;
    margin: auto; 
    top: 50%;
  }
  .name{
    display:inline-block;/*Add in js to change the parameter*/
    margin: 0;
    height:fit-content;
    display: flex;
    font-size: 32px;
    font-weight: 900;
    line-height: 40px;
    color: #E6E6E6;
    white-space: nowrap
  } 
  .author{
    white-space: nowrap;
    line-height: 40px;
    font-size: 32px;
    font-weight: 900; 
    color: #191919;
    background-image: linear-gradient(to right, #00BA13 0%, #DBFF00 46%, #7BDB00 100%);
    cursor: pointer;
  }

  .author:hover{

    font-size: 40px;
    font-weight: 1000;
    transition-duration: 0.5s;
    transition: 0.4s;
    cursor: pointer;
    
  }
  .author:active {
    transition-property: box-shadow, transform;
    box-shadow: none;
    transform: none;
}
  


  .start-btn{
    width:214px;
    height:56px;
    margin-top: 40px;
    padding-top: 16px;
    padding-right: 80px;
    padding-bottom:16px;
    padding-left: 80px;
    line-height: 24px;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    background-color: #E6E6E6;    
    color: #1A1A1A;
    cursor: pointer;
  }
  .start-btn:before {
    content: "start";

    animation: pulse 3s linear;
  }
  .start-btn:hover{
    transform: scale(1.20);
    transition-duration: 0.2s;
    transition: 0.2s;

  }
  .start-btn:active {
      transition-property: box-shadow, transform;
      box-shadow: none;
      transform: none;
  }

  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .main{
    width:fit-content;
    height:fit-content;
    margin: auto; 
    top: 50%;
    display: none;
  }  
  
  .qest{
    margin-top: 0;
    margin-bottom: 40px;
    color: #E6E6E6;
    line-height: 40px;
    font-size: 32px;
    font-weight: 900;
    flex-direction: row;
  }
  
  .row{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
  }
  
  .answer{
    width: 70px;
    height: 70px;
    line-height: 25px;
    font-size: 20px;
    font-weight: 900;
    color: #191919;
    background-color: #E6E6E6;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: none;
    cursor: pointer;
  }

  .answer:hover{
      transform: scale(1.20);
      transition-duration: 0.2s;
      transition: 0.3s;

  }
  .answer:active {
      transition-property: box-shadow, transform;
      box-shadow: none;
      transform: none;
  }

  @keyframes pulse {
    0% {
      transform: scale(1.10);
      transition-duration: 0.1s;
      transition: 0.2s;
    }
    50% {
      transform: scale(1);
      transition-duration: 0.1s;
      transition: 0.2s;
    }
    100% {
      transform: scale(1.10);
      transition-duration: 0.1s;
      transition: 0.2s;
    }
  }
  
