@font-face {
    font-family: "Moncerat",sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap")
  
  } 

  :root {
    --background-color: #1A1A1A;
    --text-color: #191919;
    --primary-color: #E6E6E6;
    --input-background: #dedede;
  }  

  *{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal; 
    }
  body {
    display: flex;
    justify-content: center;
    background-color:var(--background-color);
    /*background-color:#E6E6E6;*/
  }
  /*
    background-image: linear-gradient(to right, #00BA13 0%, #DBFF00 46%, #7BDB00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
*/



  body[data-theme="dark"] .author {
    color: #1A1A1A;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
  }
  body[data-theme="light"] .author {
    background:
    linear-gradient(to right, #00BA13 0%, #DBFF00 46%, #7BDB00 100%),
    linear-gradient(to right, #1A1A1A 0%, #1A1A1A 100%);
  -webkit-background-clip: text, padding-box;
  -webkit-text-fill-color: transparent;
  }
  body[data-theme="dark"] input{
    color: #1A1A1A;
  }
  body[data-theme="light"] input{
    color: #E6E6E6;
  } 



  .h3class {
    font-size: 32px;
    font-weight: 900;
    line-height: 40px;
    color: var(--primary-color);
    display: none;/*Add in js to change the parameter*/
  }
  .h3class p {
    margin-bottom: 2px; /* Устанавливает отступ 5px под каждым <p> */
    /* Дополнительно: убрать отступ у последнего <p>, чтобы не было лишнего снизу */
}
  .start{
    width:fit-content;
    height:fit-content;
    margin: auto; 
    top: 50%;
  }
  .name{
    display:inline-block;/*Add in js to change the parameter*/
    margin: 0;
    height:fit-content;
    display: flex;
    font-size: 32px;
    font-weight: 900;
    line-height: 40px;
    color: var(--primary-color);
    white-space: nowrap
  } 
  .author{
    white-space: nowrap;
    line-height: 40px;
    color: #1A1A1A;
    background-image: linear-gradient(to right, #00BA13 0%, #DBFF00 46%, #7BDB00 100%);
    font-size: 40px;
    font-weight: 1000;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
  }

  .author:hover{
    transition-duration: 0.5s;
    transition: 0.4s;
    filter:hue-rotate(150deg);
    cursor: pointer;
    
  }
  .author:active {
    transition-property: box-shadow, transform;
    box-shadow: none;
    transform: none;
}

  .settings {
    display: flex;
    gap: 15px;
    position: absolute;
    top: 15px;
    right: 15px;
    align-items: center;
  }
  .settings div {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .settings img {
    display: block;
  }


  input {
    width: 300px;
    margin-top: 25px;
    padding: 5px 10px 10px 5px;
    margin-bottom: 10px;
    font-size: 24px;
    border: none;
    background: var(--input-background);
    text-align: center;
    outline: none;
  }



  .start-btn{
    justify-content: center;
    align-items: center;
    width:214px;
    height:56px;
    margin-top: 40px;
    padding-top: 16px;
    padding-right: 80px;
    padding-bottom:16px;
    padding-left: 80px;
    line-height: 46px;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    background-color: var(--primary-color);    
    color: var(--background-color);
    cursor: pointer;
    min-width: 214px; /* Сохраняем минимальную ширину, чтобы кнопка не была слишком узкой */
    padding-left: 20px; /* Уменьшаем внутренние отступы */
    padding-right: 20px; /* Уменьшаем внутренние отступы */
  }
  .start-btn:before {
    content: "start";

    animation: pulse 3s linear;
  }
  .start-btn:hover{
    transform: scale(1.20);
    transition-duration: 0.2s;
    transition: 0.2s;

  }
  .start-btn:active {
      transition-property: box-shadow, transform;
      box-shadow: none;
      transform: none;
  }

  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .main{
    width:fit-content;
    height:fit-content;
    margin: auto; 
    top: 50%;
    display: none;
  }  
  
  .qest{
    margin-top: 0;
    margin-bottom: 40px;
    color: var(--primary-color);
    line-height: 40px;
    font-size: 32px;
    font-weight: 900;
    flex-direction: row;
  }
  
  .row{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .answer{
    width: 70px;
    height: 70px;
    line-height: 25px;
    font-size: 20px;
    font-weight: 900;
    color: #191919;
    background-color: var(--primary-color);
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: none;
    cursor: pointer;
  }

  .answer:hover{
      transform: scale(1.20);
      transition-duration: 0.2s;
      transition: 0.3s;

  }
  .answer:active {
      transition-property: box-shadow, transform;
      box-shadow: none;
      transform: none;
  }

  @keyframes pulse {
    0% {
      transform: scale(1.10);
      transition-duration: 0.1s;
      transition: 0.2s;
    }
    50% {
      transform: scale(1);
      transition-duration: 0.1s;
      transition: 0.2s;
    }
    100% {
      transform: scale(1.10);
      transition-duration: 0.1s;
      transition: 0.2s;
    }
  }
  
