@font-face {
    font-family: "Moncerat",sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap")
  
  } 
  *{
    font-family: "Moncerat",sans-serif;
  
    }
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .qest{
  font-size: 90px;
  
  }
  
  .row{
  display: flex;
  box-sizing: border-box;
  }
  
  .answer{
    width: 65px;
    height: 65px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: none;
    cursor: pointer;
  }
  .answer:hover{
      transform: scale(1.20);
      transition-duration: 0.2s;
      transition: 0.3s;
  }
  .answer:active {
      transition-property: box-shadow, transform;
      box-shadow: none;
      transform: none;
  }

  .start-btn{
    font-size: 30px;
    padding: .5em;
    border-radius: 5px;
    border: 1px solid black;
      cursor: pointer;
  }
  .start-btn:before {
    content: "Начать";
    animation: pulse 123123123123s linear;
  }
  .start-btn:hover{
      transform: scale(1.20);
      transition-duration: 0.2s;
      transition: 0.2s;
  
  }
  .start-btn:active {
      transition-property: box-shadow, transform;
      box-shadow: none;
      transform: none;
  }
  
  
  @keyframes pulse {
    0% {
      transform: scale(1.10);
      transition-duration: 0.1s;
      transition: 0.2s;
    }
    50% {
      transform: scale(1);
      transition-duration: 0.1s;
      transition: 0.2s;
    }
    100% {
      transform: scale(1.10);
      transition-duration: 0.1s;
      transition: 0.2s;
    }
  }
  
  .main{
    display: none;
  }